* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  font-size: 30px;
  padding: 12px;
  border-bottom: 1px solid #000000;
  margin-bottom: 20px;
}

.display {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  padding: 20px;
  margin: 0 auto;
  border: 1px solid red;
}

.card {
  border: 1px solid #000000;
  padding: 8px;
  width: 200px;;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.add-book {
  position: fixed;
  bottom: 12px;
  right: 12px;
}

.new-book-form {
  border: 1px solid #000000;
  width: 260px;
  padding: 18px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.new-book-header {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
}

.read-container {
  display: flex;
  justify-content: space-between;
  gap: 6px;
}

.read-container input,
.read-container label {
  margin: 0;
}
