* {
  box-sizing: border-box;
  font-family: 'Gloria Hallelujah', cursive;
}

body {
  background-color: #fdf9f3;
}

.header {
  font-size: 30px;
  padding: 12px 20px;
  margin-bottom: 20px;
  background-color: #b7d7e8;
  border-bottom: 3px solid #75aac7;
}

h1 {
  padding-bottom: 20px;
}

.display {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 30px;
  padding: 20px;
  margin: 0 auto;
}

.card {
  padding: 16px;
  width: 260px;;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  border: 1px solid #000000;
  border-radius: 16px;
  box-shadow: 5px 5px 12px #00000080;
  background-color: #ffffff;
}

.book-info .title {
  font-size: 26px;
  margin-bottom: 16px;
}

.book-info .author,
.book-info .pages {
  color: #5f5f5f;
  margin-bottom: 12px;
}

.card-buttons {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.card-buttons button {
  border-radius: 12px;
  border: 1px solid #000000;
}

.card-buttons .remove {
  background-color: #c96452;
  border: 1px solid #751201;
  color: #ffffff;
}

.add-book {
  position: fixed;
  bottom: 24px;
  right: 24px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  padding: 0;
  font-size: 30px;
  padding-bottom: 0px;
  border: none;
  box-shadow: 5px 5px 12px #00000080;
  background: #22c1c3;
  background: linear-gradient(0deg, #22c1c3 0%, #fdbb2d 50%);
}

.new-book-form {
  border: 1px solid #000000;
  width: 260px;
  padding: 18px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 10;
  background-color: #ffffff;
}

.new-book-form.active {
  transform: translate(-50%, -50%) scale(1);
  transition: 200ms ease-in-out;
}

.new-book-header {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
}

.read-container {
  display: flex;
  justify-content: space-between;
  gap: 6px;
}

.read-container input,
.read-container label {
  margin: 0;
}


#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000080;
  pointer-events: none;
  transition: 200ms ease-in-out;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}